---
layout: base
---

<article>
  <header>
    <h1>{% if heading %}{{ heading }}{% else %}{{ title }}{% endif %}</h1>
  </header>

  {% include "disclaimers/disclaimer.njk" %}

  {{ content | safe }}

</article>
