---
layout: post-list
title: Blog
pagination:
  data: collections.publishedPosts
  size: 10
eleventyNavigation:
  key: Blog
  order: 1
permalink: "/blog{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---
