---
layout: base
title: Projects
pagination:
  data: collections.publishedProjects
  size: 10
  alias: posts
eleventyNavigation:
  key: Projects
  order: 1
permalink: "/projects{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

<p>Here you can find some information about projects I have worked on. These
include work projects and side projects. In each post, I explain the idea or
problem, the solution and what I learned during the project.</p>

<p>Note: this section is a work in progress. I will be adding more projects and
details in the future.</p>


<div class="post-list">
  <ul class="no-bullets">
  {% for post in posts %}
    <li>
      {% include "partials/single-project-excerpt.njk" %}
    </li>
  {% endfor %}
  </ul>
</div>

{% include "partials/scroll-up-arrow.njk" %}

{%- set totalPages = pagination.pages|length -%}
{%- set currentPage = pagination.pageNumber + 1 -%}
{%- set previousHref = pagination.href.previous -%}
{%- set nextHref = pagination.href.next -%}

{% include "partials/pagination.njk" %}
