---
layout: post-list
title: Writing
pagination:
  data: collections.writingPosts
  size: 10
eleventyNavigation:
  parent: Blog
permalink: "/writing{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---
